
@{
    ViewBag.Title = "Order";
}

<h2>Заказы</h2>
<div>
    <table>
        <tr>
            <td>ID</td>
            <td>ФИО</td>
            <td>Название услуги</td>
            <td>Дата выполнения</td>
            <td>Цена</td>
        </tr>
        @foreach (var a in ViewBag.Order)
        {
            <tr>
                <td>@a.Id</td>
                <td>@a.Сlient.FIO</td>
                <td>@a.Service.Name_Service</td>
                <td>@a.Date_completion</td>
                <td>@a.Service.Cost_Service</td>
            </tr>
        }
    </table>
</div>

